[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
fastapi = "*"
loguru = "*"
requests = "*"
pydantic = "*"
python-dotenv = "*"
python-multipart = "*"
selenium = "*"
uvicorn = "*"

[requires]
python_version = "3.8"
